@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

.fixed {
  position: fixed;
}

.bg-yellow-400 {
  background-color: #fbbf24;
}

.text-white {
  color: #fff;
}

.h-1 {
  height: 1rem;
}

.loading-screen {
  background-color: rgba(0, 0, 0, 0.85);
  color: white;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.text-2xl {
  font-size: 1.5rem;
  color: #fbbf24;
}

.text-xl {
  font-size: 1rem;
}
